.smartwatch {
    position: relative;

    a {
        color: #000000;
        position: absolute;
        bottom: 6px;
        z-index: 1;
        left: 50%;
        font-size: 22px;
        font-weight: bold;
        transform: translate(-50%, -50%);
        width: max-content;
        text-transform: capitalize;
        opacity: 0; /* Hidden by default */
        transition: opacity 0.3s ease, transform 0.3s ease;

        &:hover {
            color: $theme2-colour;
        }

        &.in-view {
            opacity: 1; /* Make visible on scroll */
            transform: translate(-50%, 0); /* Adjust position slightly */
        }
    }

    img {
        @include respond-to("xxl") {
            width: 100%;
        }

        @media (max-width: 576px) {
            width: 80%; /* Reduce image size for mobile */
        }
    }
}
